.drinks {
	.container {
		.title {
			margin-top: 65px;
			.items {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.card {
					margin-top: 20px;
					cursor: pointer;
					img {
						max-width: 275px;
					}
				}
			}
		}
	}
}
